.myForm{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 300px;
}
.opros-position{
    margin-bottom: 10px;
}
.btn{
    margin: 5px;
}
.res{
    font-size: 21px;
    font-style: italic;
    text-decoration: underline;
    font-weight: 800;
    font-family: "Arial Black";
    border: 1px solid #000;
    min-height: 30px;
    margin: 10px;
}
.myClass{
    color: red;
}
.myImage{
    width: 200px;
}